In [243]:
import pandas as pd

In [244]:
data = pd.read_csv("../shared_data_read_only/Census-Data/ACSST5Y2022.S2201-Data.csv", low_memory = False)

In [245]:
columns_to_drop = [column for column in data.columns if column.endswith('M')]
data = data.drop(columns = columns_to_drop)

In [246]:
number_cols = [column for column in data.columns if ("C05" in column or "C01" in column or "C03" in column)]
data = data.drop(columns = number_cols)

data = data[data['NAME'].str.contains('Pennsylvania', na=False)]

for column in data.columns:
    if column not in ['NAME', 'GEO_ID']:
        data[column] = pd.to_numeric(data[column], errors='coerce')

In [247]:
zip_data = pd.read_csv("../shared_data_read_only/Geography-Mapping/ZIP_TRACT_122023.csv", low_memory = False)

In [248]:
data['TRACT'] = data['GEO_ID'].str.replace('1400000US', '').astype(int)
print(len(data))

3446

/tmp/ipykernel_30081/3646332175.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  data['TRACT'] = data['GEO_ID'].str.replace('1400000US', '').astype(int)

In [249]:

philly_zipcodes = [
    19102, 19103, 19104, 19106, 19107, 19109, 19111, 19112,
    19113, 19114, 19115, 19116, 19118, 19119, 19120, 19121,
    19122, 19123, 19124, 19125, 19126, 19127, 19128, 19129,
    19130, 19131, 19132, 19133, 19134, 19135, 19136, 19137,
    19138, 19139, 19140, 19141, 19142, 19143, 19144, 19145,
    19146, 19147, 19148, 19149, 19150, 19151, 19152, 19153,
    19154
]

merged_df = pd.merge(data, zip_data, on="TRACT", how = 'left')

In [250]:
print(merged_df.columns)
print(zip_data.columns)

Index(['GEO_ID', 'NAME', 'S2201_C02_001E', 'S2201_C02_002E', 'S2201_C02_003E',
       'S2201_C02_004E', 'S2201_C02_005E', 'S2201_C02_006E', 'S2201_C02_007E',
       'S2201_C02_008E',
       ...
       'S2201_C06_038E', 'Unnamed: 458', 'TRACT', 'ZIP', 'USPS_ZIP_PREF_CITY',
       'USPS_ZIP_PREF_STATE', 'RES_RATIO', 'BUS_RATIO', 'OTH_RATIO',
       'TOT_RATIO'],
      dtype='object', length=125)
Index(['ZIP', 'TRACT', 'USPS_ZIP_PREF_CITY', 'USPS_ZIP_PREF_STATE',
       'RES_RATIO', 'BUS_RATIO', 'OTH_RATIO', 'TOT_RATIO'],
      dtype='object')

In [251]:
merged_df = merged_df.drop(columns=['TRACT', 'USPS_ZIP_PREF_CITY', 'USPS_ZIP_PREF_STATE', 'TOT_RATIO', 'NAME', 'GEO_ID'])

In [252]:
result = merged_df.groupby('ZIP').mean().reset_index()

In [253]:
print(len(result))

2053

In [254]:
result['ZIP'].value_counts()
result = result[result['ZIP'].isin(philly_zipcodes)]

In [255]:
print(len(result))

49

In [256]:
nonProfitdata = pd.read_csv("../shared_data_read_only/Census-Data/Nonprofit_Data_PA.csv", low_memory = False)

In [257]:
result.rename(columns={
    'ZIP': 'zip',
}, inplace=True)


merged_df = pd.merge(result, nonProfitdata, on = 'zip', how = 'left')

In [258]:
print(len(merged_df))

94

In [259]:
print(merged_df['zip'].value_counts())

zip
19102.0    2
19103.0    2
19104.0    2
19106.0    2
19107.0    2
19111.0    2
19112.0    2
19115.0    2
19114.0    2
19119.0    2
19120.0    2
19116.0    2
19118.0    2
19121.0    2
19122.0    2
19124.0    2
19123.0    2
19139.0    2
19140.0    2
19125.0    2
19126.0    2
19127.0    2
19128.0    2
19129.0    2
19130.0    2
19131.0    2
19132.0    2
19133.0    2
19134.0    2
19135.0    2
19136.0    2
19137.0    2
19138.0    2
19151.0    2
19148.0    2
19142.0    2
19143.0    2
19145.0    2
19144.0    2
19146.0    2
19147.0    2
19154.0    2
19152.0    2
19149.0    2
19150.0    2
19109.0    1
19113.0    1
19141.0    1
19153.0    1
Name: count, dtype: int64

In [260]:
merged_df.dropna(subset=['zip'], inplace=True)

In [261]:
merged_df['zip'] = merged_df['zip'].astype(int)

In [262]:
merged_df = merged_df[merged_df["zip"].isin(philly_zipcodes)]

In [263]:
print(len(merged_df))

94

In [264]:
merged_df['zip'].value_counts()

zip
19102    2
19103    2
19104    2
19106    2
19107    2
19111    2
19112    2
19115    2
19114    2
19119    2
19120    2
19116    2
19118    2
19121    2
19122    2
19124    2
19123    2
19139    2
19140    2
19125    2
19126    2
19127    2
19128    2
19129    2
19130    2
19131    2
19132    2
19133    2
19134    2
19135    2
19136    2
19137    2
19138    2
19151    2
19148    2
19142    2
19143    2
19145    2
19144    2
19146    2
19147    2
19154    2
19152    2
19149    2
19150    2
19109    1
19113    1
19141    1
19153    1
Name: count, dtype: int64

In [265]:
print(merged_df.head())

     zip  S2201_C02_001E  S2201_C02_002E  S2201_C02_003E  S2201_C02_004E  \
0  19102             NaN       22.510000       77.490000       20.310000
1  19102             NaN       22.510000       77.490000       20.310000
2  19103             NaN       26.171429       73.828571       23.221429
3  19103             NaN       26.171429       73.828571       23.221429
4  19104             NaN       23.285714       76.714286       14.852381

   S2201_C02_005E  S2201_C02_006E  S2201_C02_007E  S2201_C02_008E  \
0        3.330000        1.060000        2.260000       76.360000
1        3.330000        1.060000        2.260000       76.360000
2        3.335714        1.242857        2.085714       73.450000
3        3.335714        1.242857        2.085714       73.450000
4       20.861905        3.961905       16.904762       64.290476

   S2201_C02_009E  ...  n10_19  n20_49  n50_99  n100_249  n250_499  n500_999  \
0        4.040000  ...       4       N       N         N         N         N
1        4.040000  ...      14       3       N         N         N         N
2        5.578571  ...       7       6       3         4         N         N
3        5.578571  ...      25      19       7         4         N         N
4       20.838095  ...       6       4       N         N         N         N

   n1000          city  stabbr      cty_name
0      N  PHILADELPHIA      PA  PHILADELPHIA
1      N  PHILADELPHIA      PA  PHILADELPHIA
2      N  PHILADELPHIA      PA  PHILADELPHIA
3      N  PHILADELPHIA      PA  PHILADELPHIA
4      N  PHILADELPHIA      PA  PHILADELPHIA

[5 rows x 134 columns]

In [266]:
nonProfitdata.columns

Index(['zip', 'name', 'naics', 'est', 'n<5', 'n5_9', 'n10_19', 'n20_49',
       'n50_99', 'n100_249', 'n250_499', 'n500_999', 'n1000', 'city', 'stabbr',
       'cty_name'],
      dtype='object')

In [267]:
merged_df = merged_df.drop(columns = ['name', 'n<5', 'n5_9', 'n10_19', 'n20_49',
       'n50_99', 'n100_249', 'n250_499', 'n500_999', 'n1000', 'city', 'stabbr',
       'cty_name'])

In [268]:
merged_df.head()

,zip,S2201_C02_001E,S2201_C02_002E,S2201_C02_003E,S2201_C02_004E,S2201_C02_005E,S2201_C02_006E,S2201_C02_007E,S2201_C02_008E,S2201_C02_009E,...,S2201_C06_035E,S2201_C06_036E,S2201_C06_037E,S2201_C06_038E,Unnamed: 458,RES_RATIO,BUS_RATIO,OTH_RATIO,naics,est
0,19102,NaN,22.510000,77.490000,20.310000,3.330000,1.060000,2.260000,76.360000,4.040000,...,NaN,8.790000,19.170000,72.050000,NaN,0.100000,0.100000,0.100000,611///,20.0
1,19102,NaN,22.510000,77.490000,20.310000,3.330000,1.060000,2.260000,76.360000,4.040000,...,NaN,8.790000,19.170000,72.050000,NaN,0.100000,0.100000,0.100000,813///,79.0
2,19103,NaN,26.171429,73.828571,23.221429,3.335714,1.242857,2.085714,73.450000,5.578571,...,NaN,11.585714,23.014286,65.428571,NaN,0.071429,0.071429,0.071429,611///,45.0
3,19103,NaN,26.171429,73.828571,23.221429,3.335714,1.242857,2.085714,73.450000,5.578571,...,NaN,11.585714,23.014286,65.428571,NaN,0.071429,0.071429,0.071429,813///,158.0
4,19104,NaN,23.285714,76.714286,14.852381,20.861905,3.961905,16.904762,64.290476,20.838095,...,NaN,10.876190,39.757143,49.361905,NaN,0.041667,0.041667,0.041667,611///,32.0

In [269]:
merged_df['zip'] = merged_df['zip'].astype(int)

In [270]:
def process_group(group):
    group['naics'] = group['naics'].astype(str)
    group['est'] = group['est'].astype(str)
    if len(group) > 1:
        # Assume rows are sorted or sort here if needed
        # Adding 'naics' and 'est' from the second row to the first
        group.iloc[0, group.columns.get_loc('naics')] += " " +  group.iloc[1, group.columns.get_loc('naics')]
        group.iloc[0, group.columns.get_loc('est')] += " " + group.iloc[1, group.columns.get_loc('est')]
        # Return only the first row
        return group.iloc[:1]
    else:
        # Return the group as is if only one row
        return group

    
result_df = merged_df.groupby('zip').apply(process_group).reset_index(drop=True)

/tmp/ipykernel_30081/1807019335.py:16: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  result_df = merged_df.groupby('zip').apply(process_group).reset_index(drop=True)

In [271]:
def allocate_est(row):
    est_values = row['est'].split(' ')
    naics_parts = row['naics'].split(' ')
    result = [None, None]  # Default [Educational, Religious]
    
    # Iterate through naics_parts and assign est_values accordingly
    for index, code in enumerate(naics_parts):
        if code == '611///' and index < len(est_values):
            result[0] = float(est_values[index])  # Assign to Educational
        elif code == '813///' and index < len(est_values):
            result[1] = float(est_values[index])  # Assign to Religious

    return pd.Series(result)

result_df[['Educational', 'Religious']] = result_df.apply(allocate_est, axis=1)
result_df.drop(['naics', 'est'], axis=1, inplace=True)
print(result_df)

      zip  S2201_C02_001E  S2201_C02_002E  S2201_C02_003E  S2201_C02_004E  \
0   19102             NaN       22.510000       77.490000       20.310000
1   19103             NaN       26.171429       73.828571       23.221429
2   19104             NaN       23.285714       76.714286       14.852381
3   19106             NaN       26.636364       73.363636       26.727273
4   19107             NaN       21.125000       78.875000       23.412500
5   19109             NaN       10.100000       89.900000       15.100000
6   19111             NaN       39.936842       60.063158       39.478947
7   19112             NaN       32.066667       67.933333       34.600000
8   19113             NaN       32.500000       67.500000       36.400000
9   19114             NaN       45.400000       54.600000       40.891667
10  19115             NaN       46.383333       53.616667       51.183333
11  19116             NaN       50.533333       49.466667       52.233333
12  19118             NaN       44.745455       55.254545       52.854545
13  19119             NaN       39.575000       60.425000       41.458333
14  19120             NaN       42.394737       57.605263       27.963158
15  19121             NaN       34.800000       65.200000       11.861111
16  19122             NaN       32.025000       67.975000       18.441667
17  19123             NaN       22.230000       77.770000       23.960000
18  19124             NaN       36.114286       63.885714       27.019048
19  19125             NaN       25.831250       74.168750       22.781250
20  19126             NaN       45.500000       54.500000       27.433333
21  19127             NaN       20.440000       79.560000       30.200000
22  19128             NaN       31.626667       68.373333       40.986667
23  19129             NaN       37.180000       62.820000       30.950000
24  19130             NaN       25.471429       74.528571       25.500000
25  19131             NaN       40.942105       59.057895       20.352632
26  19132             NaN       45.625000       54.375000       13.687500
27  19133             NaN       39.046154       60.953846       19.700000
28  19134             NaN       31.638889       68.361111       20.922222
29  19135             NaN       32.136364       67.863636       30.854545
30  19136             NaN       32.572727       67.427273       43.500000
31  19137             NaN       36.944444       63.055556       26.266667
32  19138             NaN       44.800000       55.200000       19.207143
33  19139             NaN       32.964706       67.035294       17.029412
34  19140             NaN       45.069565       54.930435       19.134783
35  19141             NaN       45.550000       54.450000       17.566667
36  19142             NaN       32.366667       67.633333       22.155556
37  19143             NaN       32.695455       67.304545       19.786364
38  19144             NaN       38.195455       61.804545       25.218182
39  19145             NaN       34.160000       65.840000       30.413333
40  19146             NaN       24.689474       75.310526       28.115789
41  19147             NaN       29.229412       70.770588       34.482353
42  19148             NaN       36.100000       63.900000       37.078571
43  19149             NaN       35.968421       64.031579       35.684211
44  19150             NaN       47.728571       52.271429       32.635714
45  19151             NaN       36.790909       63.209091       21.763636
46  19152             NaN       41.260000       58.740000       49.320000
47  19153             NaN       31.980000       68.020000       23.080000
48  19154             NaN       45.611111       54.388889       48.400000

    S2201_C02_005E  S2201_C02_006E  S2201_C02_007E  S2201_C02_008E  \
0         3.330000        1.060000        2.260000       76.360000
1         3.335714        1.242857        2.085714       73.450000
2        20.861905        3.961905       16.904762       64.290476
3         4.300000        2.000000        2.290909       68.990909
4         4.375000        2.075000        2.300000       72.187500
5         0.200000        0.000000        0.200000       84.700000
6        28.252632        6.373684       21.884211       32.257895
7        11.333333        2.700000        8.633333       54.100000
8        15.000000        3.500000       11.500000       48.500000
9        17.941667        5.283333       12.691667       41.166667
10       13.950000        3.008333       10.916667       34.883333
11       14.311111        3.677778       10.622222       33.422222
12        9.172727        2.854545        6.336364       37.972727
13       17.891667        4.133333       13.766667       40.650000
14       39.110526        8.431579       30.705263       32.905263
15       34.177778        6.283333       27.900000       53.955556
16       24.916667        4.500000       20.408333       56.658333
17        9.920000        1.880000        8.040000       66.110000
18       39.919048       11.152381       28.776190       33.047619
19       26.237500        5.800000       20.437500       50.987500
20       31.966667        7.388889       24.588889       40.588889
21        7.560000        3.220000        4.320000       62.240000
22        9.146667        2.413333        6.726667       49.866667
23       16.180000        2.920000       13.260000       52.850000
24       13.514286        4.135714        9.385714       60.978571
25       31.347368        6.421053       24.931579       48.284211
26       36.062500        5.425000       30.631250       50.243750
27       42.353846        6.892308       35.438462       37.961538
28       40.088889        7.761111       32.327778       38.988889
29       34.145455        7.472727       26.672727       34.990909
30       24.709091        6.645455       18.045455       31.800000
31       33.266667        9.455556       23.800000       40.455556
32       37.900000        7.000000       30.907143       42.892857
33       34.317647        4.458824       29.858824       48.647059
34       40.956522        6.869565       34.095652       39.908696
35       36.325000        5.950000       30.383333       46.116667
36       35.822222        6.977778       28.866667       42.033333
37       31.400000        5.277273       26.131818       48.800000
38       25.154545        4.250000       20.913636       49.618182
39       20.533333        5.860000       14.666667       49.060000
40       12.815789        3.178947        9.652632       59.052632
41        8.882353        2.511765        6.370588       56.647059
42       19.628571        6.842857       12.778571       43.321429
43       34.521053        9.747368       24.789474       29.778947
44       25.014286        4.035714       20.964286       42.357143
45       36.972727        6.945455       30.036364       41.254545
46       16.000000        3.860000       12.110000       34.710000
47       30.380000        4.780000       25.620000       46.540000
48       19.644444        7.088889       12.566667       31.922222

    S2201_C02_009E  ...  S2201_C06_035E  S2201_C06_036E  S2201_C06_037E  \
0         4.040000  ...             NaN        8.790000       19.170000
1         5.578571  ...             NaN       11.585714       23.014286
2        20.838095  ...             NaN       10.876190       39.757143
3         6.927273  ...             NaN       12.509091       14.109091
4         5.812500  ...             NaN        9.187500       14.112500
5         1.000000  ...             NaN        7.100000        4.500000
6        38.636842  ...             NaN        9.947368       33.715789
7        18.000000  ...             NaN       15.966667       18.700000
8        18.600000  ...             NaN       21.800000       40.900000
9        26.133333  ...             NaN       12.441667       28.641667
10       32.841667  ...             NaN        9.150000       29.041667
11       24.800000  ...             NaN       10.977778       29.677778
12       31.627273  ...             NaN        9.336364       24.954545
13       32.958333  ...             NaN       11.025000       30.725000
14       39.342105  ...             NaN       10.115789       39.589474
15       27.494444  ...             NaN       16.694444       37.138889
16       20.650000  ...             NaN        5.841667       21.875000
17       10.990000  ...             NaN        6.520000       18.490000
18       40.471429  ...             NaN        9.409524       38.442857
19       23.731250  ...             NaN        7.475000       26.606250
20       30.700000  ...             NaN       13.900000       34.711111
21       11.000000  ...             NaN        8.500000       21.220000
22       20.626667  ...             NaN       10.580000       22.620000
23       23.320000  ...             NaN       14.070000       28.150000
24       15.650000  ...             NaN        8.521429       28.135714
25       24.978947  ...             NaN       14.373684       46.478947
26       22.825000  ...             NaN       21.018750       34.162500
27       33.115385  ...             NaN       17.853846       27.423077
28       37.144444  ...             NaN        8.872222       42.911111
29       40.736364  ...             NaN        6.481818       43.136364
30       40.972727  ...             NaN        9.672727       32.890909
31       32.777778  ...             NaN       10.700000       39.666667
32       30.892857  ...             NaN       15.735714       39.192857
33       30.176471  ...             NaN       13.300000       39.058824
34       33.160870  ...             NaN       17.130435       43.247826
35       28.550000  ...             NaN       19.983333       38.800000
36       34.700000  ...             NaN       12.577778       37.500000
37       27.654545  ...             NaN       11.918182       40.304545
38       29.790909  ...             NaN        9.690909       39.913636
39       22.600000  ...             NaN       11.000000       27.540000
40       17.821053  ...             NaN        5.563158       23.805263
41       17.652941  ...             NaN        9.605882       24.194118
42       26.357143  ...             NaN        9.264286       26.342857
43       42.673684  ...             NaN        5.726316       38.710526
44       26.250000  ...             NaN       14.114286       38.342857
45       33.554545  ...             NaN       13.472727       38.118182
46       37.840000  ...             NaN       10.210000       28.060000
47       28.200000  ...             NaN       10.780000       44.080000
48       33.000000  ...             NaN       11.300000       26.866667

    S2201_C06_038E  Unnamed: 458  RES_RATIO  BUS_RATIO  OTH_RATIO  \
0        72.050000           NaN   0.100000   0.100000   0.100000
1        65.428571           NaN   0.071429   0.071429   0.071429
2        49.361905           NaN   0.041667   0.041667   0.041667
3        73.372727           NaN   0.090909   0.090909   0.090909
4        76.700000           NaN   0.125000   0.125000   0.125000
5        88.400000           NaN   1.000000   1.000000   1.000000
6        56.315789           NaN   0.052632   0.052632   0.052632
7        65.366667           NaN   0.250000   0.250000   0.250000
8        37.300000           NaN   0.000000   1.000000   1.000000
9        58.925000           NaN   0.076923   0.076923   0.076923
10       61.775000           NaN   0.083333   0.083333   0.083333
11       59.311111           NaN   0.111111   0.111111   0.111111
12       65.690909           NaN   0.090909   0.090909   0.090909
13       58.216667           NaN   0.083333   0.083333   0.083333
14       50.326316           NaN   0.050000   0.050000   0.050000
15       46.144444           NaN   0.052632   0.052632   0.052632
16       72.266667           NaN   0.083333   0.083333   0.083333
17       75.000000           NaN   0.100000   0.100000   0.100000
18       52.157143           NaN   0.045455   0.045455   0.045455
19       65.918750           NaN   0.062500   0.062500   0.062500
20       51.400000           NaN   0.111111   0.111111   0.111111
21       70.300000           NaN   0.200000   0.200000   0.200000
22       66.806667           NaN   0.066667   0.066667   0.066667
23       57.760000           NaN   0.100000   0.100000   0.100000
24       63.357143           NaN   0.066667   0.066667   0.066667
25       39.157895           NaN   0.050000   0.050000   0.050000
26       44.806250           NaN   0.058824   0.058824   0.058824
27       54.723077           NaN   0.076923   0.076923   0.076923
28       48.222222           NaN   0.052632   0.052632   0.052632
29       50.390909           NaN   0.090909   0.090909   0.090909
30       57.436364           NaN   0.083333   0.083333   0.083333
31       49.655556           NaN   0.111111   0.111111   0.111111
32       45.078571           NaN   0.071429   0.071429   0.071429
33       47.647059           NaN   0.055556   0.055556   0.055556
34       39.621739           NaN   0.040000   0.040000   0.040000
35       41.200000           NaN   0.083333   0.083333   0.083333
36       49.911111           NaN   0.100000   0.100000   0.100000
37       47.772727           NaN   0.043478   0.043478   0.043478
38       50.377273           NaN   0.045455   0.045455   0.045455
39       61.473333           NaN   0.045455   0.045455   0.045455
40       70.631579           NaN   0.047619   0.047619   0.047619
41       66.211765           NaN   0.058824   0.058824   0.058824
42       64.407143           NaN   0.058824   0.058824   0.058824
43       55.552632           NaN   0.052632   0.052632   0.052632
44       47.535714           NaN   0.071429   0.071429   0.071429
45       48.409091           NaN   0.083333   0.083333   0.083333
46       61.720000           NaN   0.100000   0.100000   0.100000
47       45.140000           NaN   0.125000   0.125000   0.125000
48       61.833333           NaN   0.100000   0.100000   0.100000

    Educational  Religious
0          20.0       79.0
1          45.0      158.0
2          32.0       86.0
3          13.0       60.0
4          21.0       70.0
5           NaN        NaN
6           8.0       28.0
7           4.0        4.0
8           NaN        NaN
9           9.0       13.0
10         11.0       19.0
11         14.0       17.0
12         11.0       18.0
13         16.0       25.0
14          8.0       22.0
15         12.0       34.0
16         11.0       28.0
17         16.0       35.0
18         17.0       25.0
19         15.0       20.0
20          8.0       16.0
21          6.0        4.0
22          8.0       23.0
23          4.0       10.0
24         17.0       36.0
25         25.0       26.0
26          8.0       23.0
27          6.0        5.0
28          6.0       23.0
29          8.0       16.0
30          8.0       17.0
31          5.0        8.0
32         11.0       13.0
33          5.0       28.0
34         14.0       30.0
35          NaN        NaN
36          4.0       20.0
37         16.0       42.0
38         24.0       38.0
39         20.0       13.0
40         16.0       30.0
41         35.0       28.0
42          9.0       26.0
43         12.0       17.0
44          4.0       12.0
45          9.0       25.0
46          7.0       17.0
47          NaN        NaN
48         11.0       26.0

[49 rows x 121 columns]

In [275]:
column_mapping = {
    'S2201_C04_014E': 'Percent households with children under 18 years receiving food stamps',
    'S2201_C04_023E': 'Percent households with one or more people with a disability receiving food stamps',
    'S2201_C04_026E': 'Percent households with only black/american receiving food stamps',
    'S2201_C04_028E': 'Percent households with only asians receiving food stamps',
    'S2201_C04_032E': 'Percent households with only hispanic/latinos receiving food stamps',
    'S2201_C04_036E': 'Total percent of households with no workers receiving food stamps',
    'S2201_C04_002E': 'One or More People in the Household over 60 receiving Food Stamps',
    'S2201_C04_006E': 'Percent male householder, no spouse present (SNAP)',
    'S2201_C04_007E': 'Percent female householder, no spouse present (SNAP)',
    'S2201_C04_036E': 'Percent households with no working member receiving food stamps'
    'S2201_C04_037E': 'Percent households with only one working member receiving food stamps',
    'S2201_C04_038E': 'Percent households with two or more working members receiving food stamps',
    'zip': 'zip', 'Educational': 'Educational', 'Religious': 'Religious', 'RES_RATIO': 'RES_RATIO', 'BUS_RATIO': 'BUS_RATIO', 'OTH_RATIO': 'OTH_RATIO'
}

subset_columns = ['S2201_C04_014E', 'S2201_C04_023E', 'S2201_C04_026E', 'S2201_C04_028E', 'S2201_C04_032E', 'zip', 'Educational', 'Religious', 'RES_RATIO', 'BUS_RATIO', 'OTH_RATIO']
subset_data = result_df[subset_columns]

# Save the subset to a CSV file
subset_data.to_csv('Demographics.csv', index=False)

False

KeyError: "['SS201_C04_014E'] not in index"

In [ ]:
subset_columns = ['S2201_C04_002E', 'S2201_C04_006E', 'S2201_C04_007E', 'S2201_C04_036E', 'S2201_C04_037E', 'S2201_C04_038E', 'zip', 'Educational', 'Religious', 'RES_RATIO', 'BUS_RATIO', 'OTH_RATIO']
subset_data = result_df[subset_columns]

# Save the subset to a CSV file
subset_data.to_csv('Food_Insecurity.csv', index=False)